<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="modal fade" th:id="'userEdit' + ${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <form th:id="'form' + ${user.id}" action="#" th:action="@{/admin/editUser}" method="post">
                    <div class="form-group">
                        <label for="id1" class="d-flex justify-content-center font-weight-bold">ID</label>
                        <input type="text" id="id1" name="id" th:value="${user.id}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstname1" class="d-flex justify-content-center font-weight-bold">firstName</label>
                        <input type="text" id="firstname1" class="form-control" name="firstName" th:value="${user.firstName}" placeholder="First name..">
                    </div>
                    <div class="form-group">
                        <label for="lastname1" class="d-flex justify-content-center font-weight-bold">lastname</label>
                        <input type="text" id="lastname1" class="form-control" name="lastName" th:value="${user.lastName}" placeholder="Last name..">
                    </div>
                    <div class="form-group">
                        <label for="age1" class="d-flex justify-content-center font-weight-bold">age</label>
                        <input type="number" id="age1" class="form-control" name="age" th:value="${user.age}" placeholder="Age..">
                    </div>
                    <div class="form-group">
                        <label for="email1" class="d-flex justify-content-center font-weight-bold">Email</label>
                        <input type="email" id="email1" class="form-control" name="username" th:value="${user.username}" placeholder="Email..">
                    </div>
                    <div class="form-group">
                        <label for="password1" class="d-flex justify-content-center font-weight-bold">Password</label>
                        <input type="password" id="password1" class="form-control" name="password" th:value="${user.password}" placeholder="Password..">
                    </div>

                    <div class="form-group">
                        <label for="sel2m"
                               class="d-flex justify-content-center font-weight-bold">Role</label>
                        <select multiple class="form-control" size="2"
                                id="sel2m"
                                name="authorities">
                            <option
                                    th:each="role : ${roles}"
                                    th:text="${role.getShortNameRole()}"
                                    th:value="${role.id}"
                                    th:selected="${user.roles.contains(role)}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="submit" class="btn btn-primary"
                        th:form="'form' + ${user.id}" value="Update User">Edit
                </button>
                <a class="btn btn-primary" type="submit" value="Update User"
                >Edit2</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>