<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="icon" href="/templates/icon/leaf.ico"/>

    <title>adminPage</title>
</head>

<body class="bg-light">
<!--/////////////////////////////////////////////////////HEADER////////////////////////////////////////////////////-->
<header th:replace="fragments/headPage :: head"></header>
<!--/////////////////////////////////////////////////////BODY//////////////////////////////////////////////////////-->
<main>
    <div class="d-flex px-0">
        <div class="bg-white col-2 p-xxl-0 mt-4">
            <ul class="nav flex-column nav-pills mb-auto">

                <li class="nav-link" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a class="nav-link active " aria-current="page" href="/admin/">
                        Admin
                    </a>
                </li>

                <li class="nav-link" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                    <a class="nav-link link-dark" aria-current="page" href="/user/">
                        User
                    </a>
                </li>

            </ul>
        </div>
        <!--/////////////////////////////////////////////content////////////////////////////////////////////////-->
        <div class="col-10 justify-content-center" style="min-height: 90vh;">
            <div class="container mt-5 ">
                <h3> Admin Panel </h3>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <h5>
                                <a class="nav-link active" id="userTable-tab" data-toggle="tab" data-target="#userTable"
                                   href="#userTable">Users table</a>
                            </h5>
                        </li>
                        <li class="nav-item">
                            <h5>
                                <a class="nav-link" id="newUser-tab" data-toggle="tab" data-target="#newUser"
                                   href="#newUser">New User</a>
                            </h5>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="userTable" role="tabpanel" aria-labelledby="userTable-tab"
                             class="tab-pane active bg-white border ml-0 mr-0 p-0 ">
                            <nav class="navbar navbar-default bg-light mr-0 ml-0 border">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand text-dark text-style-bold">All users</a>
                                    </div>
                                </div>
                            </nav>
                            <div class="m-1">
                                <table class="table table-striped border">
                                    <thead>
                                        <tr>
                                            <th> ID</th>
                                            <th> First Name</th>
                                            <th> Last Name</th>
                                            <th> Age</th>
                                            <th> Email</th>
                                            <th> Role</th>
                                            <th> Edit</th>
                                            <th> Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="UsersTableFun">
                                    </tbody>
                                </table>
                            </div>
                        </div>

<!--                        <div th:replace="fragments/addUser :: add"></div>-->
                        <div id="newUser" role="tabpanel" aria-labelledby="newUser-tab"
                             class="tab-pane fade bg-white border rounded pl-0 pr-0">
                            <nav class="navbar navbar-default bg-light mr-0 ml-0 border">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand text-dark text-style-bold">Add new user</a>
                                    </div>
                                </div>
                            </nav>
                            <div class="container m-3">
                                <form id="formNewUser" class="ml-auto mr-auto d-flex flex-column justify-content-center align-items-center col-5">
                                    <div class="form-group">
                                        <label for = "newFirstName" class="d-flex justify-content-center font-weight-bold">firstName</label>
                                        <input id = "newFirstName" type="text" class="form-control" placeholder="First name.." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newLastName" class="d-flex justify-content-center font-weight-bold">lastname</label>
                                        <input id="newLastName"type="text" class="form-control" placeholder="Last name.." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newAge" class="d-flex justify-content-center font-weight-bold">age</label>
                                        <input id = "newAge" type="number" class="form-control"  placeholder="Age.." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newUserName" class="d-flex justify-content-center font-weight-bold">Email</label>
                                        <input id="newUserName" type="email" class="form-control" placeholder="Email.." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" class="d-flex justify-content-center font-weight-bold">Password</label>
                                        <input id="newPassword" type="password" class="form-control"  placeholder="Password.." required>
                                    </div>
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select id="newRoles" class="form-control form-control-sm" multiple size="2" style="width:210px" required>
                                            <option value="ROLE_ADMIN" label="ADMIN"></option>
                                            <option value="ROLE_USER" label="USER"></option>
                                        </select>
                                    </div>
                                    <button onclick="newUser()" class="d-flex justify-content-center btn btn-success">Add</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<div id="modalWindow"></div>
<div id="NewUserCreated" class="modal fade mx-auto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New User created!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--/////////////////////////////////////////////////////BOTTOM////////////////////////////////////////////////////-->
<footer>
    <div class="col-12 text-center border-bottom">
        <h4> Kata Academy </h4>
    </div>
</footer>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
<script src="/usersTable.js"></script>
<script src="/listRoles.js"></script>
<script src="/newUser.js"></script>
</html>