<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>adminPage</title>
</head>
<body class="bg-secondary">
<!--head-->
<div th:replace="fragments/temp :: header"></div>


<!--<div class="navbar">-->
<!--    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">-->
<!--        <div class="container-fluid text-white">-->

<!--            <span style="font-weight: bold" th:text="fields"></span>-->

<!--            <span th:text="'with roles: '"></span>-->

<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <div th:fragment="logout" class="ml-auto">-->
<!--                    <a style="color: darkgray" href="/logout">Logout</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<!--body-->
<!--<div class="d-flex">-->
<!--    <div class="row flex-fill">-->

<!--        &lt;!&ndash;Sidebar content&ndash;&gt;-->
<!--        <div class="bg-white col-3 ">-->

<!--            <ul class="nav flex-column nav-pills mb-auto ">-->


<!--                <li class="nav-link">-->
<!--                    <a href="#" class="nav-link active " aria-current="page">-->
<!--                        <svg class="bi me-2" width="16" height="16">-->
<!--                            <use xlink:href="#admin"></use>-->
<!--                        </svg>-->
<!--                        Admin-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="nav-link">-->
<!--                    <a href="#" class="nav-link link-dark" aria-current="page">-->
<!--                        <svg class="bi me-2" width="16" height="16">-->
<!--                            <use xlink:href="#user"></use>-->
<!--                        </svg>-->
<!--                        User-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->

<!--        </div>-->

<!--        &lt;!&ndash;Body content&ndash;&gt;-->

<!--        <div class="bg-warning col-9 ">-->
<!--            <div>-->
<!--                <a>Admin panel</a>-->
<!--            </div>-->
<!--            <div class="container">-->
<!--                <a>text</a>-->
<!--            </div>-->
<!--            <div>-->
<!--                <a>text</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>